.Shows {
  display: flex;
  flex-wrap: wrap;

  .ShowPlaceholder {
    margin: 10px;
    max-width: 300px;
    width: 200px;
    flex-basis: 200px;
    flex-grow: 1;
  }

  .Show {
    margin: 10px;
    max-width: 300px;
    width: 200px;
    flex-basis: 200px;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.25s;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    img {
      width: 100%;
    }

    .Rating {
      position: absolute;
      top: 20px;
      left: -10px;
      z-index: 1;
    }

    .Name {
      padding: 10px 0 0 0;
      font-size: 16px;
      font-weight: 500;
    }

    .Genre {
      padding: 5px 0 0 0;
      font-size: 14px;
      font-weight: 500;
      text-transform: lowercase;
    }
  }
}
